.gitref

# nvim
nix/.config/nvim/.netrwhist
vim/.vim/autoload
vim/.vim/bundle
vim/.vim/plugged
vim/.vim/.netrwhist

# build_nev
build_env/autoload

# misc
nix/.config/dconf
nix/.config/obsidian
nix/.config/go/
nix/.config/pulse/
