[user]
	name = Allen Ji
	email = ajixuan11@gmail.com
[alias]
    a = add -p
    r = reset
    st = status
    br = branch
  	co = checkout
    ci = commit
    ps = push
    pl = pull
    d = diff
    dc = diff --cached
[core]
	hooksPath = .githooks
	editor = vim
[rebase]
	autosquash = true
[push]
	default = current
[credential]
	helper = cache --timeout=3600
[pull]
	rebase = false
