!! Appearance
URxvt.termName: rxvt-256color
URxvt.scrollBar: false
URxvt.background: black
URxvt.foreground: gray

!! Font prefferenes
URxvt.font: xft:DejaVu Sans Mono:pixelsize=13, \
          xft:WenQuanYi Bitmap Song:size=8, \
          xft:FreeSerif:style=Regular, \
          xft:unifont:style=Medium:antialias=false
URxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=13:weight=bold
URxvt.letterSpace: -1

!! Larger history limit
URxvt.saveLines: 1000000

!! Perl extensions
! URxvt.perl-ext-common: default,matcher,font-size,resize-font
URxvt.perl-ext:
URxvt.perl-ext-common:

!! Tango color theme
!! Strange - it matches tango from gnome-terminal, but looks different
URxvt.color0: rgb:00/00/00
URxvt.color1: rgb:CC/00/00
URxvt.color2: rgb:4E/9A/06
URxvt.color3: rgb:C4/A0/00
URxvt.color4: rgb:34/65/A4
URxvt.color5: rgb:75/50/7B
URxvt.color6: rgb:06/98/9A
URxvt.color7: rgb:D3/D7/CF
URxvt.color8: rgb:55/57/53
URxvt.color9: rgb:EF/29/29
URxvt.color10: rgb:8A/E2/34
URxvt.color11: rgb:FC/E9/4F
URxvt.color12: rgb:72/9F/CF
URxvt.color13: rgb:AD/7F/A8
URxvt.color14: rgb:34/E2/E2
URxvt.color15: rgb:EE/EE/EC
URxvt.colorBD: rgb:ff/ff/ff

!! Transparent terminal
URxvt*transparent: true
URxvt*shading: 10
URxvt*inheritPixmap: true

!! Fix alt key
URxvt.metaSendEscape: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Disable ctrl-alt copy paste
!URxvt.keysym.Shift-Control-V: eval:paste_clipboard
!URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

